---
---

@import "{{ site.theme }}";
.wrapper{
      width: 1360px;
}
th{
      width:50%;
      font-size:24px
}
th,td{
      border:none;
}
section{
      width:900px;
}
.no-margin{
      margin:0px;
}
